<mat-card class="top-spacer">
  <h1>
    Terms of Service
  </h1>
  <ol>
    <h2>
      <li>
        Terms
      </li>
    </h2>
    <p>
      By accessing our app, Workout Maker, you are agreeing to be bound by these terms of service, all applicable laws
      and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not
      agree with any of these terms, you are prohibited from using or accessing Workout Maker. The materials contained
      in Workout Maker are protected by applicable copyright and trademark law.
    </p>
    <h2>
      <li>
        Use License
      </li>
    </h2>
    <ol type="a">
      <li>
        Permission is granted to temporarily download one copy of Workout Maker per device for personal,
        non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under
        this license you may not:
        <ol type="i">
          <li>
            modify or copy the materials;
          </li>
          <li>
            use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
          </li>
          <li>
            attempt to decompile or reverse engineer any software contained in Workout Maker;
          </li>
          <li>
            remove any copyright or other proprietary notations from the materials; or
          </li>
          <li>
            transfer the materials to another person or "mirror" the materials on any other server.
          </li>
        </ol>
      </li>
      <li>
        This license shall automatically terminate if you violate any of these restrictions and may be terminated by
        Workout Maker at any time. Upon terminating your viewing of these materials or upon the termination of this
        license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
      </li>
    </ol>
    <h2>
      <li>
        Disclaimer
      </li>
    </h2>
    <ol type="a">
      <li>
        The materials within Workout Maker are provided on an 'as is' basis. Workout Maker makes no warranties,
        expressed or implied, and hereby disclaims and negates all other warranties including, without limitation,
        implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of
        intellectual property or other violation of rights.

      </li>
      <li>
        Further, Workout Maker does not warrant or make any representations concerning the accuracy, likely results, or
        reliability of the use of the materials on its website or otherwise relating to such materials or on any sites
        linked to Workout Maker.
      </li>
    </ol>

    <h2>
      <li>
        Limitations
      </li>
    </h2>
    <p>
      In no event shall Workout Maker or its suppliers be liable for any damages (including, without limitation,
      damages
      for loss of data or profit, or due to business interruption) arising out of the use or inability to use Workout
      Maker, even if Workout Maker or a Workout Maker authorized representative has been notified orally or in writing
      of
      the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or
      limitations of liability for consequential or incidental damages, these limitations may not apply to you.
    </p>
    <h2>
      <li>
        Accuracy of materials
      </li>
    </h2>
    <p>
      The materials appearing in Workout Maker could include technical, typographical, or photographic errors. Workout
      Maker does not warrant that any of the materials on Workout Maker are accurate, complete or current. Workout
      Maker
      may make changes to the materials contained in Workout Maker at any time without notice. However Workout Maker
      does
      not make any commitment to update the materials.
    </p>
    <h2>
      <li>
        Links
      </li>
    </h2>
    <p>
      Workout Maker has not reviewed all of the sites linked to its app and is not responsible for the contents of any
      such linked site. The inclusion of any link does not imply endorsement by Workout Maker of the site. Use of any
      such linked website is at the user's own risk.
    </p>
    <h2>
      <li>
        Modifications
      </li>
    </h2>
    <p>
      Workout Maker may revise these terms of service for its app at any time without notice. By using Workout Maker
      you
      are agreeing to be bound by the then current version of these terms of service.
      <h2>
        <li>
          Governing Law
        </li>
      </h2>
      <p>
        These terms and conditions are governed by and construed in accordance with the laws of California and you
        irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
      </p>
  </ol>
